sudo: true
language: ruby
rvm:
  - ruby-head
  - 1.9.3
  - 2.1
  - 2.2
  - 2.3.0
matrix:
  allow_failures:
    - rvm: ruby-head
cache: bundler
before_install:
  - gem install bundler
  - sudo apt-get update -qq
  - sudo apt-get install -y liblua5.1-dev
script: bundle exec rake test
